<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estocagem</h1>
    <p><a href="{% url 'produtos.html' %}">Lista de produtos</a></p><p><a href="{% url 'fornecedores.html' %}">Fornecedores</a> - <a href="{% url 'createfornecedor.html' %}">Adicionar fornecedor</a></p><p><a href="{% url 'categorias.html' %}">Categorias</a> - <a href="{% url 'createcategoria.html' %}">Adicionar categoria</a></p><p><a href="{% url 'create.html' %}">Adicionar produto</a></p>
</body>
</html>